{% extends 'base.html' %}
{% load static %}

{% block banner %}

<div class="page-header" style="background: url(../../static/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Post you Ads</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">Home /</a></li>
                        <li class="current">Post you Ads</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock banner %}


{% block content %}
<form role="form" method="post">
    {% csrf_token %}
    <div id="content" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
                    <aside>
                        <div class="sidebar-box">
                            <div class="user">
                                <figure>
                                    {% if profile.image %}
                                        <a href="#"><img src="{{ profile.image.url }}" alt="Profile Image"></a>
                                    {% else %}
                                        <a href="#"><img src="{% static 'img/author/img1.jpg' %}" alt="Default Profile Image"></a>
                                    {% endif %}
                                </figure>
                                <div class="usercontent">
                                    <h3>Hello {{ profile.firstname }}!</h3>
                                </div>
                            </div>
                            <nav class="navdashboard">
                                <ul>
                                    <li>
                                        <a href="dashboard.html">
                                            <i class="lni-dashboard"></i>
                                            <span>Dashboard</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="account-profile-setting.html">
                                            <i class="lni-cog"></i>
                                            <span>Profile Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="account-myads.html">
                                            <i class="lni-layers"></i>
                                            <span>My Ads</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="lni-envelope"></i>
                                            <span>Offers/Messages</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="payments.html">
                                            <i class="lni-wallet"></i>
                                            <span>Payments</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="account-favourite-ads.html">
                                            <i class="lni-heart"></i>
                                            <span>My Favourites</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="account-profile-setting.html">
                                            <i class="lni-star"></i>
                                            <span>Privacy Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="lni-enter"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="widget">
                            <h4 class="widget-title">Advertisement</h4>
                            <div class="add-box">
                                <img class="img-fluid" src="{% static '/img/img1.jpg' %}" alt="">
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-9">
                    <div class="row page-content">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                            <div class="inner-box">
                                <div class="dashboard-box">
                                    <h2 class="dashbord-title">Product Detail</h2>
                                </div>
                                <div class="dashboard-wrapper">
                                    <div class="form-group mb-3">
                                        <label class="control-label">Product Title</label>
                                        {{ form.title }}
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="control-label">Price</label>
                                        {{ form.price }}
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="control-label">Discount</label>
                                        {{ form.discount }}
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="control-label">Slug</label>
                                        {{ form.slug }}
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="control-label">Description</label>
                                        {{ form.description }}
                                    </div>
                                    <label class="tg-fileuploadlabel" for="tg-photogallery">
                                        <span>Drop files anywhere to upload</span>
                                        <span>Or</span>
                                        <span class="btn btn-common">Select Files</span>
                                        <span>Maximum upload file size: 500 KB</span>
                                        <input id="tg-photogallery" class="tg-fileinput" type="file" name="file">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                            <div class="inner-box">
                                <div class="tg-contactdetail">
                                    <div class="dashboard-box">
                                        <h2 class="dashbord-title">Contact Detail</h2>
                                    </div>
                                    <div class="dashboard-wrapper">
                                        <div class="form-group mb-3">
                                            <label class="control-label">Select Categories</label>
                                            {{ form.category }}
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Location</label>
                                            {{ form.location }}
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Brand</label>
                                            {{ form.brand }}
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Condition</label>
                                            {{ form.condition }}
                                        </div>
                                        <div class="tg-checkbox mt-3">
                                            <div class="custom-control custom-checkbox">
                                                {{ form.featured }}
                                                <label class="custom-control-label" for="tg-priceoncall">Featured</label>
                                            </div>
                                        </div>
                                        <div class="tg-checkbox mt-3">
                                            <button class="btn btn-common" type="submit">Post Ad</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>>
{% endblock content %}
