{% extends 'base.html' %}

{% block banner %}
<div id="hero-area">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-9 col-xs-12 text-center">
                    <div class="contents">
                        <h1 class="head-title">Welcome to The Largest <span class="year">Marketplace</span></h1>
                        <p>Buy and sell everything from used cars to mobile phones and computers, or search for
                            property, jobs and more</p>
                        <div class="search-bar">
                            <div class="search-inner">
                                <form class="search-form">
                                    <div class="form-group">
                                        <input class="form-control" name="customword"
                                               placeholder="What are you looking for?"
                                               type="text">
                                    </div>
                                    <div class="form-group inputwithicon">
                                        <div class="select">
                                            <select>
                                                <option value="none">Locations</option>
                                                {% for region in regions %}
                                                    <option value="none">{{ region.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <i class="lni-target"></i>
                                    </div>
                                    <div class="form-group inputwithicon">
                                        <div class="select">
                                            <select>
                                                <option value="none">Select Category</option>
                                                {% for ctg in categories %}
                                                    <option value="none">{{ ctg.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <i class="lni-menu"></i>
                                    </div>
                                    <a href="{% url 'products' %}">
                                        <button class="btn btn-common" type="button"><i class="lni-search"></i> Search Now
                                        </button>
                                    </a>>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock banner %}

{% block content %}

<section id="categories">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12 col-xs-12">
                <div class="categories-wrapper owl-carousel owl-theme" id="categories-icon-slider">
                    {% for ctg in categories %}
                        <div class="item">
                            <a href="{% url 'products' %}">
                                <div class="category-icon-item">
                                    <div class="icon-box">
                                        <div class="icon">
                                            <img alt="" src="/images/{{ ctg.image }}">
                                        </div>
                                        <h4>{{ ctg.name }}</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


<section class="featured section-padding">
    <div class="container">
        <h1 class="section-title">Latest Products</h1>
        <div class="row">
            {% for product in products %}
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="featured-box">
                        <figure>
                            <div class="icon">
                                <span class="bg-green"><i class="lni-heart"></i></span>
                                <span><i class="lni-bookmark"></i></span>
                            </div>
                            <a href="{% url 'product_detail' pk=product.id slug=product.slug %}">
                                <img alt="" class="img-fluid" src="/images/{{ product.images.first.image }}" style="height: 720px; height: 225px;">
                            </a>
                        </figure>
                        <div class="feature-content">
                            <div class="product">
                                <a href="#">{{ product.category }}</a>
                            </div>
                            <h4><a href="{% url 'product_detail' pk=product.id slug=product.slug %}">{{ product.title|slice:":25" }} ...</a></h4>
                            <div class="meta-tag">
                                <span>
                                    <a href="#"><i class="lni-user"></i>{{ product.user }}</a>
                                </span>
                                <span>
                                    <a href="#"><i class="lni-map-marker"></i>{{ product.location.name }}</a>
                                </span>
                            </div>
                            <p class="dsc">{{ product.description|slice:":150" }}...</p>
                            <div class="listing-bottom">
                                <h3 class="price float-left">${{ product.price }}</h3>
                                <a class="btn btn-common float-right" href="{% url 'product_detail' pk=product.id slug=product.slug %}">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="featured-lis section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeIn" data-wow-delay="0.5s">
                <h3 class="section-title">Featured Products</h3>
                <div class="owl-carousel owl-theme" id="new-products">
                    {% for product in featured_products %}
                        <div class="item">
                            <div class="product-item">
                                <div class="carousel-thumb">
                                    <img alt="" class="img-fluid" src="images/{{ product.images.first.image }}" style="height: 720px; height: 225px;">
                                    <div class="overlay">
                                        <div>
                                            <a class="btn btn-common" href="{% url 'product_detail' pk=product.id slug=product.slug %}">View Details</a>
                                        </div>
                                    </div>
                                    <div class="btn-product bg-sale">
                                        <a href="#">Sale</a>
                                    </div>
                                    <span class="price">${{ product.price }}</span>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="{% url 'product_detail' pk=product.id slug=product.slug %}">{{ product.title }}</a></h3>
                                    <span>{{ product.category }}</span>
                                    <div class="icon">
                                        <span><i class="lni-bookmark"></i></span>
                                        <span><i class="lni-heart"></i></span>
                                    </div>
                                    <div class="card-text">
                                        <div class="float-left">
                                            <span class="icon-wrap">
                                                <i class="lni-star-filled"></i>
                                                <i class="lni-star-filled"></i>
                                                <i class="lni-star-filled"></i>
                                                <i class="lni-star-filled"></i>
                                                <i class="lni-star-filled"></i>
                                                <i class="lni-star"></i>
                                            </span>
                                            <span class="count-review">
                                                {{ product.review_count }}
                                            </span>
                                        </div>
                                        <div class="float-right">
                                            <a class="address" href="#"><i class="lni-map-marker"></i>{{ product.location.name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


<section class="works section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="section-title">How It Works?</h3>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="works-item">
                    <div class="icon-box">
                        <i class="lni-users"></i>
                    </div>
                    <p>Create an Account</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="works-item">
                    <div class="icon-box">
                        <i class="lni-bookmark-alt"></i>
                    </div>
                    <p>Post Free Ad</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="works-item">
                    <div class="icon-box">
                        <i class="lni-thumbs-up"></i>
                    </div>
                    <p>Deal Done</p>
                </div>
            </div>
            <hr class="works-line">
        </div>
    </div>
</section>


<section class="services bg-light section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="section-title">Key Features</h3>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="lni-leaf"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Elegant Design</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.4s">
                    <div class="icon">
                        <i class="lni-display"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Responsive Design</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="lni-color-pallet"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Clean UI</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.8s">
                    <div class="icon">
                        <i class="lni-emoji-smile"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">UX Friendly</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="1s">
                    <div class="icon">
                        <i class="lni-pencil-alt"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Easily Customizable</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="lni-headphone-alt"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Security Support</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-padding" id="pricing-table">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Pricing Plan</h2>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="table">
                    <div class="icon">
                        <i class="lni-gift"></i>
                    </div>
                    <div class="pricing-header">
                        <p class="price-value">$29</p>
                    </div>
                    <div class="title">
                        <h3>Basic</h3>
                    </div>
                    <ul class="description">
                        <li>Free ad posting</li>
                        <li>No Featured ads availability</li>
                        <li>Access to limited features</li>
                        <li>For 30 days</li>
                        <li>100% Secure!</li>
                    </ul>
                    <button class="btn btn-common">Purchase</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="table" id="active-tb">
                    <div class="icon">
                        <i class="lni-leaf"></i>
                    </div>
                    <div class="pricing-header">
                        <p class="price-value">$49</p>
                    </div>
                    <div class="title">
                        <h3>Standard</h3>
                    </div>
                    <ul class="description">
                        <li>Free ad posting</li>
                        <li>10 Featured ads availability</li>
                        <li>Access to unlimited features</li>
                        <li>For 30 days</li>
                        <li>100% Secure!</li>
                    </ul>
                    <button class="btn btn-common">Purchase</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="table">
                    <div class="icon">
                        <i class="lni-layers"></i>
                    </div>
                    <div class="pricing-header">
                        <p class="price-value">$69</p>
                    </div>
                    <div class="title">
                        <h3>Premium</h3>
                    </div>
                    <ul class="description">
                        <li>Free ad posting</li>
                        <li>100 Featured ads availability</li>
                        <li>Access to unlimited features</li>
                        <li>For 30 days</li>
                        <li>100% Secure!</li>
                    </ul>
                    <button class="btn btn-common">Purchase</button>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="testimonial section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="owl-carousel" id="testimonials">
                    <div class="item">
                        <div class="img-thumb">
                            <img alt="" src="../static/img/testimonial/img1.png">
                        </div>
                        <div class="testimonial-item">
                            <div class="content">
                                <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed
                                    eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt
                                    labore velit dolore magna.</p>
                                <div class="info-text">
                                    <h2><a href="#">Josh Rossi</a></h2>
                                    <h4><a href="#">CEO of Fiverr</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item">
                            <div class="img-thumb">
                                <img alt="" src="../static/img/testimonial/img2.png">
                            </div>
                            <div class="testimonial-item">
                                <div class="content">
                                    <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed
                                        eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor
                                        incidiunt labore velit dolore magna.</p>
                                    <div class="info-text">
                                        <h2><a href="#">Jessica</a></h2>
                                        <h4><a href="#">CEO of Dropbox</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item">
                            <div class="img-thumb">
                                <img alt="" src="../static/img/testimonial/img3.png">
                            </div>
                            <div class="testimonial-item">
                                <div class="content">
                                    <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed
                                        eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor
                                        incidiunt labore velit dolore magna.</p>
                                    <div class="info-text">
                                        <h2><a href="#">Johnny Zeigler</a></h2>
                                        <h4><a href="#">CEO of Fiverr</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item">
                            <div class="img-thumb">
                                <img alt="" src="../static/img/testimonial/img4.png">
                            </div>
                            <div class="testimonial-item">
                                <div class="content">
                                    <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed
                                        eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor
                                        incidiunt labore velit dolore magna.</p>
                                    <div class="info-text">
                                        <h2><a href="#">Josh Rossi</a></h2>
                                        <h4><a href="#">CEO of Fiverr</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item">
                            <div class="img-thumb">
                                <img alt="" src="../static/img/testimonial/img5.png">
                            </div>
                            <div class="testimonial-item">
                                <div class="content">
                                    <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed
                                        eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor
                                        incidiunt labore velit dolore magna.</p>
                                    <div class="info-text">
                                        <h2><a href="#">Priyanka</a></h2>
                                        <h4><a href="#">CEO of Dropbox</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-padding" id="blog">

    <div class="container">
        <h2 class="section-title">
            Blog Post
        </h2>
        <div class="row">
            {% for blog in blogs %}
                <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
                    <div class="blog-item-wrapper">
                        <div class="blog-item-img">
                            <a href="single-post.html">
                                <img alt="" src="images/{{ blog.image }}">
                            </a>
                        </div>
                        <div class="blog-item-text">
                            <div class="meta-tags">
                                <span class="user float-left"><a href="#"><i
                                        class="lni-user"></i>{{ blog.user }}</a></span>
                                <span class="date float-right"><i class="lni-calendar"></i>{{ blog.created_at|date:"d/m/Y" }}</span>
                            </div>
                            <h3>
                                <a href="single-post.html">{{ blog.title|slice:":30" }} ...</a>
                            </h3>
                            <p>{{ blog.content|slice:":200" }} ...</p>
                            <a class="btn btn-common" href="single-post.html">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="subscribes section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="subscribes-inner">
                    <div class="icon">
                        <i class="lni-pointer"></i>
                    </div>
                    <div class="sub-text">
                        <h3>Subscribe to Newsletter</h3>
                        <p>and receive new ads in inbox</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <form>
                    <div class="subscribe">
                        <input class="form-control" name="EMAIL" placeholder="Enter your Email" required=""
                               type="email">
                        <button class="btn btn-common" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
